@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-image: linear-gradient(45deg, #55C1FF, #C8EBFF);
  background-attachment: fixed;
}

.font-display {
  font-family: 'Playfair Display', serif;
}

.text-12xl {
  font-size: 7.5rem
}